.admin-container
{
  max-width: 650px !important;
}

.admin-container input
{
  text-align: right;
  border: 1px solid #cccccc;
  padding: 2px;
  width: 80px;
}

.admin-container input::-webkit-outer-spin-button,
.admin-container input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

.admin-container input[type=number],
.admin-container input[type=number]
{
  -moz-appearance:textfield;
}

.admin-container label
{
  padding-right: 8px;
}

.admin-container input:invalid
{
  box-shadow: 0 0 5px 1px red
}

hr
{
  border-top: 1px solid rgba(0,0,0,.4) !important;
}    
